* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

html,body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    width: 800;
    height: 800;
}
